{% extends 'base.html.twig' %}
{% block body %}
	<h1>Productenoverzicht</h1>
		<table>
			<tr>
				<td>Product</td>
				<td>Prijs</td>
			</tr>

			{% for product in producten %}
				<tr>
					<td>{{ product.naam }}</td>
					<td>{{ product.inkoopprijs }}</td>
					<td><a href="{{ path('bestelopdrachtwijzigen', {'id':product.barcode}) }}">Wijzigen</a></td>
					<td><a href="{{ path('bestelopdrachtwijzigen', {'id':product.barcode}) }}">Verwijderen</a></td>
				</tr>
			{% endfor %}
		</table>

    <a href="{{ path('bestelopdrachtnieuw') }}">Nieuwe bestelopdracht</a>
	<a href="{{ path('allebesteldrachten') }}">Alle bestelopdracht</a>

{% endblock %}

